<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League of Legends | GameMatch</title>
</head>
<body>
    <h1>League of Legends</h1>
    <p id="gameID"></p>
    <script>
        const wloc = window.location
        console.log(wloc)

        const url = new URL(wloc)
        console.log(url)

        const path = url.pathname
        console.log(path)

        const gameID = path.split('/')[2]
        console.log(gameID)

        document.getElementById("gameID").innerText = `Game ID: ${gameID}`
    </script>
</body>
</html>