<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 Error | GameMatch</title>
<%- include('./partials/header') %>
    <div class="container text-center text-light mb-5">
        <br class="my-4">
        <h1 class="error">400 Bad Request</h1>
        <p class="mb-0 pb-0">Here are the test results: You made a bad Request. I'm serious, that's what it says: "A bad request."</p>
        <p class="mt-0 pt-0">We weren't even testing for that.</p>
        <a href="/">
            <input type="image" src="/css/glados.png" alt="Image of GlaDOS as a button to go back" name="saveForm" class="gameImg submit" id="saveForm"/>
        </a>
        <div class="font-weight-light mb-5">
            <small>Hint: Click on GlaDOS :)</small>
        </div>
    </div>
    <br>
<%- include('./partials/footer') %>