<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error | GameMatch</title>
<%- include('./partials/Header') %>
    <div class="container text-center text-light mb-4">
        <br class="my-3">
        <h1 class="error">404 Not Found</h1>
        <p>It seems like you're lost. It's dangerous to go alone! Take this.</p>
        <a href="/">
            <input type="image" src="/css/sword.png" alt="Image of a sword as a button to go back" name="saveForm" class="gameImg submit" id="saveForm" style="--bs-aspect-ratio: 180%;"/>
        </a>
        <div class="font-weight-light mb-4">
            <small>Hint: Take the sword :)</small>
        </div>
    </div>
    <br>
<%- include('./partials/footer') %>


