<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Admin Dashboard | GameMatch</title>
<%- include('../partials/header') %>
    <div class="container my-5">
        <h1 class="text-center text-light mb-5">Administrative Dashboard</h1>
        <div class="row no-border">
            <div class="col-4 mb-3">
                <a href="/admin/games" class="d-block card dark shadow-md p3">
                    <h2 class="my-5 text-center">Games</h2>
                </a>
            </div>
            <div class="col-4 mb-3">
                <a href="/admin/users" class="d-block card dark shadow-md p3">
                    <h2 class="my-5 text-center">Users</h2>
                </a>
            </div>
            <div class="col-4 mb-3">
                <a href="/admin/tags" class="d-block card dark shadow-md p3">
                    <h2 class="my-5 text-center">Tags</h2>
                </a>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
<%- include('../partials/footer') %>
