* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    margin: 0;
    background: #010f34;
}

.container {
    border-color: #010f34;
    margin-top: 50px;
}

.row {
    background: white;
    border-radius: 31px;
    box-shadow: 12px 12px 18px black;
}

.lbTitle {
    color: #010f34;
}

.loginImg {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #010f34;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover {
    background: #042383;
    border: 1px solid;
    color: white;
}

.col-cont {
    margin: auto;
}

.post-input {
    font-weight: bold;
    color: #010f34;
}

.form-control {
    border-color: rgb(155, 154, 154);
}

.navbar-custom {
    background-color: #042383;
    box-shadow: 1px 6px 3px -1px rgba(0,0,0,0.35);
}

.navbar-brand, .nav-link {
    color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: rgb(189, 197, 243);
}