* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: rgb(18, 18, 19);
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    border-color: #010f34;
    margin-top: 2px;
}

.row {
    background: rgb(18, 18, 19);
    border-radius: 31px;
    box-shadow: 10px 10px 18px black;
}

.card {
    background: rgb(10, 10, 11);
    border-radius: 5px;
}

.card1 {
    background-color: rgb(18, 18, 19);
    outline: 2px solid rgb(37, 37, 39);
    border-radius: 5px;
}

hr {
    background-color: rgb(56, 56, 58);
}

.tag {
    background-color: #042383;
    border-radius: 15px;
}

.loginImg {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.btn {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #042383;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn:hover {
    background-color: #041c66;
    color: white;
}

.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: rgb(6, 6, 7);
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover {
    background-color: rgb(3, 3, 4);
    color: white;
}

.btn2 {
    border: none;
}

.form-control, .form-control:focus {
    background-color: rgb(31, 31, 32);
    border-color: rgb(31, 31, 32);
    color: white;
}

input[type="text"]:disabled {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
}

.navbar-custom {
    background-color: #042383;
    box-shadow: 1px 6px 3px -1px rgba(0,0,0,0.35);
}

.navbar-brand, .nav-link {
    color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: rgb(231, 237, 253);
}

.postInfo {
    background-image: linear-gradient(#05174d, rgb(18, 18, 19));
    color: white;
}

.gameLink, .gameLink:hover {
    color: white;
}

.commentBox {
    color: white;
    font-weight: semibold;
}

.commentSection {
    background: rgb(10, 10, 11);
    border-radius: 5px;
}

.postTitle {
    color: white;
}

.postTitle:hover {
    color: rgb(219, 221, 236);
    text-decoration: none;
}

.gameLink {
    color: white;
}

.gameLink:hover {
    color: rgb(219, 221, 236);
    text-decoration: none;
}

.author {
    color: rgb(162, 173, 255);
}

.thead {
    color: white;
    background-color: rgb(55, 55, 58);
}

table.table-bordered {
    border: 1px solid rgb(37, 37, 39);
    margin-top:20px;
}

table.table-bordered > thead > tr > th {
    border: 1px solid rgb(37, 37, 39);
}

table.table-bordered > tbody > tr > td {
    border: 1px solid rgb(37, 37, 39);
}

.custom-select {
    background-color: rgb(31, 31, 32);
    border-color: rgb(31, 31, 32);
    color: white;
}

.badge {
    background-color: #042383;
    border-radius: 15px;
    padding: 3px 4px 2px 7px;
    font-weight: 450;
}

.deleted-row {
    background-color: rgba(46, 46, 49, 0.205);
}

.red {
    background-color: rgb(117, 12, 12);
}

.red:hover {
    background-color: rgb(100, 11, 11);
}

.green {
    background-color: rgb(9, 70, 9);
}

.green:hover {
    background-color: rgb(8, 56, 8);
}

.dark {
    background-color: rgb(6, 6, 7);
    color: white;
}

.dark:hover {
    background-color: rgb(3, 3, 4);
    color: white;
    text-decoration: none;
}

.no-border {
    border-radius: none;
    box-shadow: none;
}

.spacer {
    margin-bottom: 360px;
}

.searchbar {
    min-width: 300px;
}

.searchbtn {
    width: 100px;
    height: calc(1.5em + .75rem + 2px);
}

.gameInfo {
    display: flex;
    flex-wrap: wrap;
}

.gameInfo-left {
    flex-basis: 0;
}

.gameInfo-right {
    flex-basis: 656px;
}

.gameImg {
    width: 250px;
    height: 350px;
}

.game-name {
    color: white;
}

.game-name:hover {
    color: rgb(238, 238, 238);
    text-decoration: none;
}

.games {
    background-color: black;
    background-image: linear-gradient(#05174d, rgb(18, 18, 19));
}

.error {
    font-size: 60px;
}

.alert {
    margin-top: 5px;
}

.alert-danger {
    background-color: rgba(117, 12, 12, 0.685);
    border-color: rgb(82, 7, 7);
    color: rgba(255, 255, 255, 0.7);
}

.alert-success {
    background-color: rgba(21, 97, 21, 0.685);
    border-color: rgb(10, 70, 10);
    color: rgba(255, 255, 255, 0.7);
}

.close:hover {
    color: white;
}

@media (max-width: 576px) {
    .nav-username
    {
        display: none;
    }
}

.flex-grow-1 {
    flex-grow: 1;
}

.admin-table {
    overflow-x: scroll;
}

@media (min-width: 769px) {
    .admin-table {
        overflow-x: auto;
    }
}
