<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameMatch</title>
</head>
<body>
    <h1>GameMatch</h1>
    <ul style="list-style-type: none;">
        <li><a href="/games">/games</a></li>
    </ul>
    <p><em>Picture Tinder but for gamers.</em><br>There are a lot of collaborative or versus video games out there, but now with the pandemic, meeting new people to organize your own team might be harder. The idea is that users can search the game they want to play and then see other people’s profiles with information such as tag, badges, role, gameplay style and more. If the user thinks one of the candidates could be helpful to their team/campaign, they can send a message to notify the other person of their interest.</p>
    <div class="developer-team">
        <h2>Developer Team</h2>
        <table>
            <tr>
                <td>A0XXXXXXXX</td>
                <td>Joel Hiram Chavez Verástegui</td>
            </tr>
            <tr>
                <td>A0XXXXXXXX</td>
                <td>Lorena Ang Alcorta</td>
            </tr>
            <tr>
                <td>A0XXXXXXXX</td>
                <td>Yulisa Medina Medrano</td>
            </tr>
            <tr>
                <td>A01252554</td>
                <td>Santiago Díaz Guevara</td>
            </tr>
        </table>
    </div>
</body>
</html>
