<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Login | GameMatch</title>
<%- include('../partials/Header') %>
    <section class="form my-5 mx-5">
        <div class="container text-light">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="./css/loginImage.jpg" class="loginImg img-fluid" alt="Image of two videogame controllers.">
                </div>
                <div class="col-lg-7 px-5 pt-5">
                    <h1 class="font-weight-bold py-3">GameMatch</h1>
                    <h4>Sign into your account</h4>
                    <form action='/login' method='POST'>
                        <div class="form-row">
                            <!-- <div class="col-lg-7">
                                <input type="email" placeholder="Email" class="form-control mt-4 mb-3 p-4" name="user[email]" required>
                            </div> -->
                            <div class="col-lg-7">
                                <input type="user" placeholder="Username" class="form-control mt-4 mb-3 p-4" name="username" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="password" placeholder="Password" class="form-control my-2 p-4" name="password" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-7">
                                <button class="btn1 mt-3 mb-5">Login</button>
                            </div>
                        </div>
                        <a href="./forgot">Forgot password?</a>
                        <p>Don't have an account? <a href="/register">Register here.</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
<%- include('../partials/footer') %>