<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts of A Game | GameMatch</title>

    <link rel="stylesheet" href="/css/posts/list.css">
</head>
<body>
    <h1>List of all posts of a game</h1>
    <div id="posts" class="posts"></div>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/posts/posts.js"></script>
    <script src="/js/posts/list.js"></script>
</body>
</html>
