<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post | GameMatch</title>
</head>
<body>
    <h1>Post title of some game</h1>

    <p>Game ID: <span id="gameID"></span></p>
    <p>Post ID: <span id="postID"></span></p>

    <script>
        const wloc = window.location
        console.log(wloc)

        const url = new URL(wloc)
        console.log(url)

        const path = url.pathname
        console.log(path)

        const gameID = path.split('/')[2]
        console.log(gameID)

        const postID = path.split('/')[4]
        console.log(postID)

        document.getElementById("gameID").innerText = `${gameID}`
        document.getElementById("postID").innerText = `${postID}`
    </script>
</body>
</html>
